SunnyCoffee.Web/obj/Debug/netcoreapp3.1/SunnyCoffee.Web.pdb
SunnyCoffee.Web/obj/Debug/netcoreapp3.1/SunnyCoffee.Web.dll
SunnyCoffee.Web/obj/Debug/netcoreapp3.1/SunnyCoffee.Web.csprojAssemblyReference.cache
SunnyCoffee.Web/obj/Debug/netcoreapp3.1/SunnyCoffee.Web.csproj.CoreCompileInputs.cache
SunnyCoffee.Web/bin/Debug/netcoreapp3.1/SunnyCoffee.Web.pdb
SunnyCoffee.Web/bin/Debug/netcoreapp3.1/SunnyCoffee.Web.dll
SunnyCoffee.Test/obj/Debug/netcoreapp3.0/SunnyCoffee.Test.csprojAssemblyReference.cache
SunnyCoffee.Services/obj/Debug/netcoreapp3.0/SunnyCoffee.Services.csprojAssemblyReference.cache
SunnyCoffee.Data/obj/Debug/netcoreapp3.0/SunnyCoffee.Data.csprojAssemblyReference.cache
.vs/SunnyCoffee/xs/project-cache/SunnyCoffee.Web-Debug.json
.vs/SunnyCoffee/xs/UserPrefs.xml
